html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  transform: translate(100px,75px);
}

.hand {
  width: 14px;

}

.hand-hour {
  transform: translate(143px,75px);
  transform-origin: center bottom;
}
.hand-minute {
 transform: translate(125px,75px);
 transform-origin: center bottom;
}
